<!-- Store this code in 'login.html' file inside the 'templates' folder -->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Welcome to NBA </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">		
	</head>
	<body></br></br></br></br></br>

		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Welcome to NBA Database </h1>
			</div></br></br></br>
			<h2 class="word">
				<form action="{{ url_for('auth_api.login') }}" method="post">
				<div class="msg">Everything you wonder about the NBA </div>
				<div class="msg"><br>login </div>
					<input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
					<input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
					<!--{% with messages = get_flashed_messages() %}
					{% if messages %}
					  <ul class=flashes>
					  {% for message in messages %}
						<li>{{ message }}</li>
					  {% endfor %}
					  </ul>
					{% endif %}
				  {% endwith %}
				  {% block body %}{% endblock %}-->
					<input type="submit" class="btn" value="Sign In"></br></br>
				</form>
			</h2>
			<p class="bottom">Don't have an account? <a class="bottom" href="{{url_for('auth_api.register')}}"> Sign Up here</a></p>
		</div>
		</div>
	</body>
</html>
